/*Font for the page */
body{
  font-family: 'Optima', sans-serif;
}
/* Styling the main */
.main-container{
  border-style: solid;
  border-width: 10px;
  border-color: SteelBlue;
  padding: 10px;
  background: orange;
  width:75%;
  margin:auto;
  color: SaddleBrown;
}
/* Floating image to the right of heading */
.image-container{
  float: right;
}
/*aligning div containers*/
div.align{
  text-align: center;
}

.second-container{
  margin: auto;
  width: 40%;
  padding: 10px;
  border-bottom: 1px rgba(190, 78, 37, 0.3); /*redish color with opacity*/
  border-spacing: inherit;
}

#mainheading{
  position: center;
  color: olive;
  font-size: 100px;
}
