/*font file*/
@font-face{
  font-family: '' format();
  src: url();
}
@font-face{
  font-family: '' format();
  src: url();
}
@font-face{
  font-family: '' format();
  src: url();
}
@font-face{
  font-family: '' format();
  src: url();
}
@font-face{
  font-family: '' format();
  src: url();
}
@font-face{
  font-family: '' format();
  src: url();
}
@font-face{
  font-family: '' format();
  src: url();
}
@font-face{
  font-family: '' format();
  src: url();
}
@font-face{
  font-family: '' format();
  src: url();
}
