/*Overall style*/
* {
  background-color: #F0F0F5;
  box-sizing: border-box;
}
h1{
  text-align:center;
  font-family: PTSans, sans-serif;
  color: #BC0000;
}
/*Change font*/
.main-content{
  font-family: Raleway, sans-serif;
  padding: 2em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}
/*Style nav bar*/
header{
  background-color: #2E5C1A;
  font-family: PTSans, sans-serif;
  font-size: 10pt;
  text-transform: uppercase;
  text-align: center;
  position: sticky;
  margin-bottom: 20px;
}
/*Layout of menu bar*/
.menu-item{
  display: inline-block;
  margin: 0 0;
  min-width: 10em;
  text-align: center;
  background-color: #2E5C1A;
}
/*Link styles*/
.menu-item a{
  color: #FFCC7E;
  background-color: #2E5C1A;
  text-align: center;
}
.menu-item:hover{
  background-color: #BC0000;
}
/*Dropdown*/
.dropdown{
  display: inline-block;
}
.dropdown-item a{
  background-color: #F0F0F5;
}
.dropdown-content{
  display: none;
  position: absolute;
  border: 1px solid #B8AEA4;
  background-color: #2E5C1A;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.dropdown-item a:visited{
  color: #777;
}
.dropdown-item{
  display:block;
  text-align: center;
  margin: 0;
  padding: 40px;
  min-width:7em;
}
.dropdown-item:hover, .dropdown-item:hover a{
  color: #FFCC7E;
  background-color: #2E5C1A;
}
/*textbox contact page position*/
.textboxes{
  text-align: center;
}
/*photo positioning*/
.main-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
.second-image{
  float: left;
  height: auto;
}
.third-image{
  float: right;
  height: auto;
}
.fourth-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 50%;
  height: auto;
  text-align: center;
}
