* {background-color: #B4DAEE;}

/*Overall style/fonts*/
body{
  background-color: EFF197;
}
/*Whole excerpt style*/
.main-container{
  text-align: center;
  line-height: 1.45em;
  margin: auto;
  padding: 20px;
  border: 3px solid black;
  width: 1200px;
}
/*Setting header design*/
header{
  position: fixed;
  top: 0px;
  background-color: #0b2487;
  font-family:RedHatMono, sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  height: 4em;
  width: 100%;
  text-align: center;
}
/*Set menu layout*/
.menu-item{
  display: inline-block;
  margin: 1em .2em;
  min-width: 20em;
  text-align: center;
}
/*Style the links*/
.menu-item a{
  color: black;
  text-decoration: none;
}
/*Add dropdown*/
.dropdown{
  display: inline-block;
}
.dropdown-content{
  display: none;
  position: fixed;
  margin: auto;
}
.dropdown-content a{
  color: black;
}
.dropdown:hover .dropdown-content{
  display: block;
  text-align: center;
  margin: 0;
  min-width: 20em;
}
/*Style dropdown item display*/
.dropdown-item{
  color: #13c2f2;
}
.dropdown-item:hover, .dropdown-item:hover a{
  color: black;
}
/*book info box*/
.book-info-box{
  border: 2px solid black;
  padding: 10px;
  margin-left:50px;
  margin-right:50px;
  margin-top: auto;
  margin-bottom: auto;

}
/*Position book picture*/
.book-picture{
  /*fix this*/
  padding: 10px;
}
/*Normal paragraphs*/
.paragraph-one{
  font-family: SourceSansPro, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
/*Attaching pseudo element*/
.paragraph-one::first-line{
    color: #140749;
    font-variant: small-caps;
}
.paragraph-two{
  font-family: SourceSansPro, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
/*float author picture*/
.author-picture{
  float: left;
}
.paragraph-three{
  font-family: SourceSansPro, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
.paragraph-four{
  font-family: SourceSansPro, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}
/*Bolding the important paragraph*/
.paragraph-five{
  font-family: SourceSansPro, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
}
/*Styling headings*/
h1, h2, h3{
  text-align: center;
  font-family: RedHatMono, sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
  line-height: 1.5em;
}
/*Styling link element with pseudo-class*/
a:link{
  color: #335EA2;
  text-decoration: none;
}
a:visited{
  color: #777;
  text-decoration: none;
}
a:hover{
  color: #9C2DCB;
  font-style: italic;
}
/*Italics for singular words*/
.emphasis{
  font-style: italic;
}
